body {
	font: 15px/1.5 "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", "Lucida Console", Monaco, monospace;
	padding: 0;
	margin: 0;
	background-color: #0000ff;
}

.container {
	width: 80%;
	margin: auto;
	overflow: hidden;
}
header {
	background: #000000;
	color: #ffffff;
	padding-top: 30px;
	min-height: 70px;
	border-bottom: #ffffff 3px solid;
}
